WebMilkShop/App_WebReferences/MyBankWebService/MyBankWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Pay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PayResult" type="tns:PayResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PayResults">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="NotEnoughMoney" />
          <s:enumeration value="UnknownError" />
          <s:enumeration value="InvalidAccount" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PaySoapIn">
    <wsdl:part name="parameters" element="tns:Pay" />
  </wsdl:message>
  <wsdl:message name="PaySoapOut">
    <wsdl:part name="parameters" element="tns:PayResponse" />
  </wsdl:message>
  <wsdl:portType name="MyBankWSSoap">
    <wsdl:operation name="Pay">
      <wsdl:input message="tns:PaySoapIn" />
      <wsdl:output message="tns:PaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyBankWSSoap" type="tns:MyBankWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Pay">
      <soap:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyBankWSSoap12" type="tns:MyBankWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Pay">
      <soap12:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyBankWS">
    <wsdl:port name="MyBankWSSoap" binding="tns:MyBankWSSoap">
      <soap:address location="http://localhost:1044/MyBankWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MyBankWSSoap12" binding="tns:MyBankWSSoap12">
      <soap12:address location="http://localhost:1044/MyBankWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>